.footer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #535d65;
  padding-top: 50px;
  margin-top: 50px;
}

.footer__share{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer__share-follow{
  display: flex;
  color: #f4f4f4;
  font-size: 25px;
}

.share-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  width: 50px;
  height: 50px;
  color: #535d65;
  border-radius: 50%;
  text-align: center;
  margin-left: 30px;
  font-size: 30px;
  padding-top: 2px;
}

.footer__nav{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #4c5358;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__nav-one{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  list-style: none;
  font-size: 13px;
}

.footer_nav-two{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  list-style: none;
  font-size: 13px;
  align-items: center;
}

.nav-one__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
}

.nav-two__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  margin-top: 10px;
}

.nav-one__item a{
  justify-content: center;
  text-decoration: none;
  color: #f4f4f4;
  margin-left: 30px;
}

.nav-two__item a{
  justify-content: center;
  text-decoration: none;
  color: #f4f4f4;
  margin-left: 0px;
}

.nav-one__item-line::before{
  content: '|';
  margin: 10px;
  color: #f4f4f4;
}

@media (max-width: 674px ) {
  .footer__share-follow{
    flex-basis: 100%;
    justify-content:center;
  }
  .share-icon-container{
    margin-top: 10px;
  }
}

@media (max-width: 900px ) {
  .nav-two__item{
    flex-basis: 33%;
  }
}

@media (max-width: 632px ) {
  .nav-two__item{
    flex-basis: 50%;
    margin-top: 20px;
  }
}

@media (max-width: 500px ) {
  .nav-two__item{
    flex-basis: 100%;
    margin-top: 20px;
  }
}
