.poster{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(rgba(144, 151, 156, 0.59), rgba(83, 93, 101, 0.93));
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
}

.poster .container{
  justify-content: center;
}

.poster__left{
  display: flex;
  flex-basis: 30%;
}

.poster__info{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-basis: 50%;
  padding: 10px;
}

.poster__img{
  width: 100%;
  height: 100%;
}

.poster__info-title{
  flex-basis: 100%;
  font-size: 2.5rem;
}

.poster__info-score{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  margin-top: 20px;
  border-radius: 100%;
  background-color: #535d65;
}

.poster__info-score-points{
  font-size: 20px;
}

.poster__info-user{
  flex-basis: 80%;
  align-self: center;
  margin-top: 20px;
  padding-left: 20px;
}

.poster__info-general{
  flex-basis: 100%;
  margin-top: 20px;
}

.poster_info-overview{
  flex-basis: 100%;
  margin-top: 10px;
}

.poster__info-team{
  margin-top: 10px;
  font-size: 18px;
  flex-basis: 100%;
}

.poster__info-name{
  margin-top: 15px;
  font-weight: bold;
  flex-basis: 100%;
}

.poster__info-job{
  flex-basis: 100%;
}

.movie-description{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px 0px;
}

.movie-description__title{
  flex-basis: 100%;
  font-size: 28px;
}

.movie-description__card-elenco{
  flex-basis: 15%;
  height: 310px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: white;
}

.card-elenco__img{
  width: 100%;
  height: 198px;
}

.card-elenco__name{
  margin-top: 5px;
  padding-left: 10px;
  font-weight: bold;
}

.card-elenco__character{
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
}

.movie-description__title-default{
  flex-basis: 100%;
  font-size: 20px;
  margin-top: 40px;
}

.movie-info{
  flex-basis: 13%;
}

.movie-info__title{
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.text-center{
  display: flex;
  justify-content: center;
}

.movie-description__genres{
  padding: 6px;
  border-radius: 22px;
  color: #535d65;
  background-color: #50e3c2;
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.trailer-container{
  flex-basis: 70%;
  height: 500px;
}

.trailer-container__video{
  width: 100%;
  height: 100%;
}

@media (max-width: 1126px) {
  .movie-info{
    flex-basis: 15%;
  }
}

@media (max-width: 1050px) {
  .movie-description__card-elenco{
    flex-basis: 18%;
  }
  .movie-info{
    flex-basis: 20%;
  }
}

@media (max-width: 850px) {
  .movie-description__card-elenco{
    flex-basis: 19%;
  }
  .movie-info{
    flex-basis: 22%;
  }
}

@media (max-width: 800px) {
  .poster__left{
    flex-basis: 50%;
  }
  .poster__info{
    flex-basis: 80%;
  }
}

@media (max-width: 690px) {
  .movie-description__card-elenco{
    flex-basis: 22%;
  }
  .movie-info{
    flex-basis: 50%;
  }
}

@media (max-width: 690px) {
  .movie-description__card-elenco{
    flex-basis: 30%;
  }
}

@media (max-width: 517px) {
  .poster__info-user{
    flex-basis: 50%;
  }
}

@media (max-width: 516px) {
  .movie-description__card-elenco{
    flex-basis: 40%;
  }
}
