.container{
  display: flex;
  flex-wrap: wrap;
  width: 87%;
}

a{
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 123px;
  background-color: #081c24;
}

.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #50e3c2;
  overflow: hidden;
}

.header__logo-link{
  font-size: 84px;
  color: black !important;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.header__logo-link:hover{
  text-decoration: none;
}

.header__title{
  align-self: center;
  font-size: 16px;
  margin-left: 30px;
  color: white;
}

@media (max-width: 800px ){
  .header__title{
    margin-left: 20px;
  }
}
